<md-dialog id="add-table-dialog" aria-label="Add Table">
	<div id="table-dialog-header">
		<div id="table-table-header" class="md-toolbar-tools" layout-align="center center">
      	<center><span id="table-header-label" class="md-normal">{{choose_table_label}}</span></center>
      	<span flex></span>
    	<md-button class="md-icon-button" ng-click="tableDialogExit(event)">
        	<md-icon md-svg-src="images/app_icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
   		</md-button>
   		</div>
	</div>
	<div id="add-table-body" class="col-md-12 col-sm-12">
		<div ng-repeat="table in all_tables">
			<div class="col-md-3" ng-if="table.waiter=='free'"> 
				<md-button id="btn-table"  class="md-raised" ng-click="addButton(table.nr)">{{table.nr}}</md-button>
			</div>
	    </div>
	</div>
</md-dialog>