<div layout="column">			  
    <md-sidenav class="md-sidenav-right md-whiteframe-z4" md-component-id="worker_sidenav">
        <md-toolbar id="worker_sidenav_toolbar" class="md-theme-teal" layout="row" layout-align="left center">
            <span layout="column">
                <img id="account_image" src="images/profile.png" class="circular" alt="profile_pic" />
                <span id="worker_name_sidenav" class="md-subhead label">{{current_waiter}}</span>	     	
            </span>
        </md-toolbar>
        <div layout="column">
           <div ng-repeat="waiter in WAITERS" class="no-animate">
            <md-list ng-if="waiter.name===current_waiter">
                <md-subheader class="worker_sidenav_subheader">{{LOCAL_TEXTS.waiter_info_label}}</md-subheader>	
                <md-list-item  ng-click="">
                    <md-icon class="worker_sidenav_icon" md-svg-icon="images/app_icons/ic_accessibility_24px.svg"></md-icon>
                    <span>{{waiter.position}} </span>
                </md-list-item>					
                <md-list-item ng-click="">
                    <md-icon class="worker_sidenav_icon" md-svg-icon="images/app_icons/ic_attach_money_24px.svg"></md-icon>
                    <span>{{waiter.profit |currency}} </span>
                </md-list-item>
                <md-list-item ng-click="">
                    <md-icon class="worker_sidenav_icon" md-svg-icon="images/app_icons/ic_equalizer_24px.svg"></md-icon>
                    <span>{{waiter.tables_served}} {{LOCAL_TEXTS.tables_served_label}}</span>
                </md-list-item>
                <md-divider></md-divider>
                <md-subheader class="md-no-sticky">{{LOCAL_TEXTS.waiter_action_label}}</md-subheader>
                <md-list-item ng-click="changePin()">
                    <md-icon class="worker_sidenav_icon" md-svg-icon="images/app_icons/ic_edit_24px.svg"></md-icon>
                    <span>{{LOCAL_TEXTS.change_ping_label}}</span>
                </md-list-item>
                <md-list-item ng-click="reserveTable()">
                    <md-icon class="worker_sidenav_icon" md-svg-icon="images/app_icons/ic_content_paste_24px.svg"></md-icon>
                    <span>{{LOCAL_TEXTS.create_reservation_label}}</span>
                </md-list-item>
                <md-list-item ng-if='worker.position==="Manager"' ng-click="addNewProduct()">
                    <md-icon class="worker_sidenav_icon" md-svg-icon="images/app_icons/ic_add_24px.svg"></md-icon>
                    <span>{{LOCAL_TEXTS.add_new_product_label}}</span>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item  ng-click="addNewProduct()">
                    <md-icon class="worker_sidenav_icon" md-svg-icon="images/app_icons/ic_exit_to_app_24px.svg"></md-icon>
                    <span>{{LOCAL_TEXTS.punch_out_label}}</span>
                </md-list-item>
            </md-list>	
            </div>
        </div>
    </md-sidenav>
</div>