<md-dialog id="single-item-dialog" aria-label="Login">
	<div id="table-dialog-header">
		<div id="table-table-header" class="md-toolbar-tools" layout-align="center center">
      	<center><span id="table-header-label" class="md-normal">Edit Item Amount</span></center>
      	<span flex></span>
    	<md-button class="md-icon-button" ng-click="signleItemViewCancel(event)">
        	<md-icon md-svg-src="images/app_icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
   		</md-button>
   		</div>
	</div>
	<div>
		<center>
			<div class="column">
			 	<div id="add_sign">
			 		<md-button class="md-icon-button" ng-click="tableDialogExit(event)">
			        	<md-icon md-svg-src="images/app_icons/ic_expand_less_48px.svg" aria-label="Add"></md-icon>
			   		</md-button>	
			 	</div>
			 	<div id="current_amount">
			 		<span class="md-display-1">2</span>
			 	</div>
			 	<div id="substract_sign">
			 		<md-button class="md-icon-button" ng-click="tableDialogExit(event)">
			        	<md-icon md-svg-src="images/app_icons/ic_expand_more_48px.svg" aria-label="Substract"></md-icon>
			   		</md-button>
			 	</div>
			</div>
		</center>
	</div>	
</md-dialog>