<md-whiteframe id="ticket_frame" class="md-whiteframe-z2" layout="column" >
        <md-whiteframe id="ticket_header_frame" class="md-whiteframe-z3" layout="column">
            <!-- TITLE PART -->
            <center><div id="ticket_label"><span class="md-subhead label">{{LOCAL_TEXTS.ticket}}</span></div></center>
            <span flex></span>
            <!-- SUB TITLE PART -->
            <div id="ticket_action" layout="row" layout-align="space-around center">
                <div id="selected_table">
                    <span id="selected_table_label" >{{LOCAL_TEXTS.selected_table_label}} {{selected_table}}</span>
                </div>
                <div id="ticket_switch"><md-switch ng-model="editable" aria-label="Editable"></md-switch></div>
                <div id="print_action">
                    <md-fab-speed-dial md-open="false" md-direction="left" ng-class="md-fling">
                          <md-fab-trigger>
                              <md-button aria-label="menu" class="md-fab md-warn">
                                <ng-md-icon icon="print" style="fill:white" size="32"></ng-md-icon>
                              </md-button>
                          </md-fab-trigger>
                          <md-fab-actions>
                        <md-button aria-label="Print" class="md-fab md-accent md-hue-4 md-raised" ng-click="printTicket()">
                                <ng-md-icon icon="receipt" style="fill:white" size="22"></ng-md-icon>
                                <md-tooltip md-direction="top" md-visible="tooltipVisible" md-autohide="false">
                                  {{LOCAL_TEXTS.print}}
                                </md-tooltip>
                            </md-button>
                            <md-button aria-label="Close" class="md-fab md-accent md-hue-4 md-raised" ng-click="payTicket()">
                                <ng-md-icon icon="credit_card" style="fill:white" size="22"></ng-md-icon>
                                <md-tooltip md-direction="top" md-visible="tooltipVisible" md-autohide="false">
                                  {{LOCAL_TEXTS.pay}}
                                </md-tooltip>
                              </md-button>
                          </md-fab-actions>
                     </md-fab-speed-dial>
                </div>
            </div>
        </md-whiteframe>
    <div id="ticket" layout="column">
        <md-list id="list_ticket" class="column">
            <div id="ticket-list" ng-repeat="table in TABLES" ng-if="table.nr == selected_table">
                <div ng-repeat ="current in table.ticket">
                    <md-list-item id="ticket_item" ng-click="showSingleItemView($event)">
                        <div layout="row" flex="100">
                            <div flex="25">
                                <span id="ticket_item_amount" class="md-headline">{{current.amount}}</span>
                            </div>
                            <div flex="40" class="item_info">
                                <span id="ticket_item_name" class="md-subhead">{{current.name}}</span>
                            </div>
                            <div flex="30" class="item_info">
                                <span id="ticket_item_sum" class="md-subhead">{{current.price*current.amount |currency}}</span>
                            </div>
                            <div flex="10">
                                <md-checkbox id="item_checkbox" ng-model="current.checked" ng-if="editable" aria-label="checkbox"></md-checkbox>
                                <md-button id="btn_remove" ng-click="removeItem(current.id,current.name,current.price)"
                                    class="md-warn text-left" ng-if="!editable">
                                    <md-icon md-svg-src="images/app_icons/ic_remove_24px.svg"></md-icon>
                                </md-button>
                            </div>
                        </div>
                    </md-list-item>
                </div>
                <md-divider ></md-divider>
            </div>
        </md-list>
        <div id="ticket_total" ng-repeat="table in TABLES" ng-if="table.nr == selected_table">
            <span id="total_price" class="md-display-1">TOTAL:&nbsp&nbsp{{table.total |currency}}</span>
        </div>
    </div>
 </md-whiteframe>
