<md-dialog id="payment-dialog" aria-label="Payment">
  <div id="payment_input" ng-show="!returnAmountBool">
	<div id="table-dialog-header">
		<div id="table-table-header" class="md-toolbar-tools" layout-align="center center">
	      	<center><span id="table-header-label" class="md-normal">{{strings.register_payment_label}} - {{sumOfCheckedItems |currency}}</span></center>
	      	<span flex></span>
	    	<md-button class="md-icon-button" ng-click="closePaymentDialog(event)">
	        	<md-icon md-svg-src="images/app_icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
	   		</md-button>
   		</div>
	</div>
	<div id="add-table-body" class="col-md-12 col-sm-12" layout="column" ng-keypress="enterPressed($event)">
		<div layout="row">
	        <md-input-container md-no-float flex id="cashier_input_container">
		       <input  id="cashier_input" ng-model="waiter_input" placeholder="{{strings.enter_client_payment_label}}" >
		    </md-input-container>
		    <md-button id="show_keyboard_btn" class="md-icon-button" ng-click="toggleKeyboard()">
        		<md-icon md-svg-src="images/app_icons/ic_keyboard_48px.svg" aria-label="Show keyboard"></md-icon>
   			</md-button>
		</div>
		<span flex></span>
		<div id="keypad" layout="column" ng-if='showKeyboard'>
		 	<div id="first_row" layout="row" class="col-md-12 col-sm-12">
		 		<md-button class="col-md-4 col-sm-4 keypad_button" ng-click="inputClicked(1)">1</md-button>
		 		<md-button class="col-md-4 col-sm-4 keypad_button" ng-click="inputClicked(2)">2</md-button>
		 		<md-button class="col-md-4 col-sm-4 keypad_button" ng-click="inputClicked(3)">3</md-button>
		 	</div>
		 	<div id="second_row" layout="row" class="col-md-12 col-sm-12">
		 		<md-button class="col-md-4 col-sm-4 keypad_button" ng-click="inputClicked(4)">4</md-button>
		 		<md-button class="col-md-4 col-sm-4 keypad_button" ng-click="inputClicked(5)">5</md-button>
		 		<md-button class="col-md-4 col-sm-4 keypad_button" ng-click="inputClicked(6)">6</md-button>
		 	</div>
		 	<div id="third_row" layout="row" class="col-md-12 col-sm-12">
		 		<md-button class="col-md-4 col-sm-4 keypad_button" ng-click="inputClicked(7)">7</md-button>
		 		<md-button class="col-md-4 col-sm-4 keypad_button" ng-click="inputClicked(8)">8</md-button>
		 		<md-button class="col-md-4 col-sm-4 keypad_button" ng-click="inputClicked(9)">9</md-button>
		 	</div>
		 	<div id="fourth_row" layout="row" class="col-md-12 col-sm-12">
		 		<md-button class="col-md-4 col-sm-4 keypad_button" ng-click="inputClicked(-1)">
			        <md-icon md-svg-src="images/app_icons/ic_backspace_48px.svg"></md-icon>
				</md-button>
		 		<md-button class="col-md-4 col-sm-4 keypad_button" ng-click="inputClicked(0)">0</md-button>
		 		<md-button class="col-md-4 col-sm-4" ng-click="calculateReturn()">
			        <md-icon md-svg-src="images/app_icons/ic_send_48px.svg" style="fill:teal"></md-icon>
				</md-button>
		 	</div>
		</div>

		<div id="div_message">

		</div>
	</div>
	</div>
	<div id="return_calculate_div" ng-show="returnAmountBool">
		<div id="table-dialog-header">
			<div id="table-table-header" class="md-toolbar-tools" layout-align="center center">
		      	<center><span id="table-header-label" class="md-normal">{{strings.return_amount_label}}</span></center>
		      	<span flex></span>
		    	<md-button class="md-icon-button" ng-click="tableDialogExit(event)">
		        	<md-icon md-svg-src="images/app_icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
		   		</md-button>
	   		</div>
		</div>
		<div id="amount_div">
			<center><span id="return_amount" class="md-display-3">{{return_amount |currency}}</span></center>
		</div>
	</div>
</md-dialog>
