<md-dialog id="payment-dialog" aria-label="Payment">
  <div>
    	<div id="table-dialog-header">
    		<div id="table-table-header" class="md-toolbar-tools" layout-align="center center">
    	      	<center><span id="table-header-label" class="md-normal">{{all_tickets_from_today}}</span></center>
    	      	<span flex></span>
    	    	<md-button class="md-icon-button" ng-click="ticketsDialogExit(event)">
    	        	<md-icon md-svg-src="images/app_icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
    	   		</md-button>
       		</div>
    	</div>
    	<div id="" class="col-md-12 col-sm-12" layout="column" flex="100">
            <div layout = "column" layout-align="center center" flex="100">
                <md-card flex="100" layout="row" layout-algin="center center">
                     <md-card-content>
                        <h2>Card headline</h2>
                        <p>Card content</p>
                     </md-card-content>
                     <md-card-footer>
                       Card footer
                     </md-card-footer>
                </md-card>
            </div>
        </div>
	</div>
</md-dialog>
