<md-dialog id="add-table-dialog" aria-label="Add Table">
	<!--<div ng-show = "selectNumberOfClientsForm == false">-->
		<div id="table-dialog-header">
			<div id="table-table-header" class="md-toolbar-tools" layout-align="center center">
	      	<center>
				<div ng-show = "selectNumberOfClientsForm == false">
					<span id="table-header-label" class="md-normal">{{choose_table_label}}</span>
				</div>
				<div ng-show = "selectNumberOfClientsForm == true">
					<span id="table-header-label" class="md-normal">{{enter_customer_nr}}</span>
				</div>
			</center>
	      	<span flex></span>
	    	<md-button class="md-icon-button" ng-click="tableDialogExit(event)">
	        	<md-icon md-svg-src="images/app_icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
	   		</md-button>
	   		</div>
		</div>
		<div id="add-table-body" class="col-md-12 col-sm-12">
			<div ng-show = "selectNumberOfClientsForm == false">
				<div ng-repeat="table in available_tables">
					<div class="col-md-3">
						<md-button id="btn-table"  class="md-raised" ng-click="selectTable(table.nr)">{{table.nr}}</md-button>
					</div>
			    </div>
			</div>
			<!--<div ng-show = "selectNumberOfClientsForm == true" layout="row" layout-align="center center" flex="100">
				<md-slider-container ng-disabled="isDisabled" flex="100">
			      <md-icon md-svg-icon="device:brightness-low"></md-icon>
			      <md-slider ng-model="maxNrOfCustomers" aria-label="Disabled 1" flex md-discrete ng-readonly="readonly"></md-slider>

			      <md-input-container flex="100">
			        <input flex type="number" ng-model="maxNrOfCustomers" aria-label="green" aria-controls="green-slider">
			      </md-input-container>
			    </md-slider-container>
			    <md-slider ng-model="disabled2" ng-disabled="true" aria-label="Disabled 2"></md-slider>

			    <div style="margin-top: 50px;"></div>
				<!--<div layout="row" layout-align="center center">
					<md-button class="md-icon-button" class="customer_nr_navigation" aria-label="Worker Options" ng-click="openWorkerSideNav()">
        				<md-icon id="logout_icon"  md-svg-icon="images/app_icons/ic_navigate_before_48px.svg"></md-icon>
     				</md-button>
				</div>
				<div layout="row" layout-align="center center">
					<span class="md-head">2</span>
				</div>
				<div layout="row" layout-align="center center">
					<md-button class="md-icon-button" aria-label="Worker Options" ng-click="openWorkerSideNav()">
        				<md-icon id="logout_icon" md-svg-icon="images/app_icons/ic_navigate_next_48px.svg"></md-icon>
     				</md-button>
				</div> -->
			<!--</div> -->
			<div ng-show = "selectNumberOfClientsForm == true">
				<div ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
					<div class="col-md-3">
						<md-button id=""  class="md-fab md-primary md-hue-3" ng-click="numberOfPeople(i)">{{i}}</md-button>
					</div>
				</div>
			</div>
		</div>
</md-dialog>
