<!-- TABLES -->
<md-whiteframe id="worker_tables" layout="column" class="col-md-12 col-sm-12 md-whiteframe-z1" layout layout-align="center center">
	<!-- CATEGORIES -->
	<div  layout="row">
		<md-button class="md-raised btn_category" ng-click="listItemClick($index)">
	        <md-icon md-svg-src="images/app_icons/ic_list_48px.svg"></md-icon>
	        <span class="md-inline-list-icon-label">Food</span>
	    </md-button>
	    <md-button class="md-raised btn_category" ng-click="listItemClick($index)">
	        <md-icon md-svg-src="images/app_icons/ic_list_48px.svg"></md-icon>
	        <span class="md-inline-list-icon-label">Drinks</span>
	    </md-button>
	    <md-button class="md-raised btn_category" ng-click="listItemClick($index)">
	        <md-icon md-svg-src="images/app_icons/ic_list_48px.svg"></md-icon>
	        <span class="md-inline-list-icon-label">Snacks</span>
	    </md-button>
	    <md-button class="md-raised btn_category" ng-click="listItemClick($index)">
	        <md-icon md-svg-src="images/app_icons/ic_list_48px.svg"></md-icon>
	        <span class="md-inline-list-icon-label">Other</span>
	    </md-button>
	</div>
	<div id="sub_categories">
		<sub-categories></sub-categories>
	</div>
</md-whiteframe>
<!-- ADD TABLE BUTTON-->
<md-button id="btn_add_table" class="md-fab md-primary md-hue-1" aria-label="Add Table">
  <ng-md-icon icon="add" style="fill:white" size="32"></ng-md-icon> 
</md-button>