<md-dialog id="add-table-dialog" aria-label="Login">
	<div id="table-dialog-header">
		<div id="table-table-header" class="md-toolbar-tools" layout-align="center center">
      	<center><span id="table-header-label" class="md-normal">{{login_label}}</span></center>
      	<span flex></span>
      	<md-button id="btn-adminlog"  class="md-raised md-primary" ng-click="goToAdmin()">Admin-Login</md-button>
   		</div>
	</div>
	<div id="add-table-body" class="col-md-12 col-sm-12" layout="column">
		<div layout="column">
	        <md-input-container md-no-float flex id="login_password">
		       <input id="input_password" ng-model="user_input" placeholder="Password">
		    </md-input-container>
		</div>
		<span flex></span>
		<div id="keypad" layout="column">
		 	<div id="first_row" layout="row" class="col-md-12 col-sm-12">
		 		<md-button class="col-md-4 col-sm-4 keypad_button" aria-label="key-1" ng-click="inputClicked(1)">1</md-button>
		 		<md-button class="col-md-4 col-sm-4 keypad_button" aria-label="key-2" ng-click="inputClicked(2)">2</md-button>
		 		<md-button class="col-md-4 col-sm-4 keypad_button" aria-label="key-3" ng-click="inputClicked(3)">3</md-button>
		 	</div>
		 	<div id="second_row" layout="row" class="col-md-12 col-sm-12">
		 		<md-button class="col-md-4 col-sm-4 keypad_button" aria-label="key-4" ng-click="inputClicked(4)">4</md-button>
		 		<md-button class="col-md-4 col-sm-4 keypad_button" aria-label="key-5" ng-click="inputClicked(5)">5</md-button>
		 		<md-button class="col-md-4 col-sm-4 keypad_button" aria-label="key-6" ng-click="inputClicked(6)">6</md-button>
		 	</div>
		 	<div id="third_row" layout="row" class="col-md-12 col-sm-12">
		 		<md-button class="col-md-4 col-sm-4 keypad_button" aria-label="key-7" ng-click="inputClicked(7)">7</md-button>
		 		<md-button class="col-md-4 col-sm-4 keypad_button" aria-label="key-8" ng-click="inputClicked(8)">8</md-button>
		 		<md-button class="col-md-4 col-sm-4 keypad_button" aria-label="key-9" ng-click="inputClicked(9)">9</md-button>
		 	</div>
		 	<div id="fourth_row" layout="row" class="col-md-12 col-sm-12">
		 		<md-button class="col-md-4 col-sm-4 keypad_button" aria-label="key-1" ng-click="inputClicked(-1)">
			        <md-icon md-svg-src="images/app_icons/ic_backspace_48px.svg"></md-icon>
				</md-button>
		 		<md-button class="col-md-4 col-sm-4 keypad_button" ng-click="inputClicked(0)">0</md-button>
		 		<md-button class="col-md-4 col-sm-4" aria-label="log_me_in" ng-click="logMeIn()">
			        <md-icon md-svg-src="images/app_icons/ic_send_48px.svg" style="fill:teal"></md-icon>
				</md-button>
		 	</div>
		</div>
		<div id="div_message">

		</div>
	</div>
</md-dialog>
