<md-bottom-sheet class="md-grid">
  <div layout="row">
	  <div  ng-repeat="option in print_options">
		<md-button id="btn-print-options" class="md-grid-item-content" ng-click="listItemClick($index)">
	        <md-icon md-svg-src="{{option.icon}}"></md-icon>
	        <div class="md-grid-text"> {{ option.name }}</div>
	      </md-button>
	  </div>
  </div>
</md-bottom-sheet>
