<md-dialog id="remove_ticket_dialog" aria-label="Payment">
    <div id="table-dialog-header">
		<div id="table-table-header" class="md-toolbar-tools" layout-align="center center">
	      	<center><span id="table-header-label" class="md-normal">{{strings.why_remove_ticket}}</span></center>
	      	<span flex></span>
	    	<md-button class="md-icon-button" ng-click="closePaymentDialog(event)">
	        	<md-icon md-svg-src="images/app_icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
	   		</md-button>
   		</div>
    </div>
        <div id="body" layout="column" layout-align="space-between">
            <div id="remove_ticket_reasons" layout="row" flex="100" layout-align="center center">
                <md-radio-group ng-model="ticket.remove_reason" layout="row">
                  <md-radio-button value="mistake" class="md-primary">{{strings.why_remove_ticket_mistake}}</md-radio-button>
                  <md-radio-button value="no_payment"> {{strings.why_remove_ticket_no_pay}} </md-radio-button>
                  <md-radio-button value="other">{{strings.why_remove_ticket_other}}</md-radio-button>
                  <md-radio-button value="known">{{strings.why_remove_ticket_family}}</md-radio-button>
                </md-radio-group>
            </div>
            <div id="message" layout="row" flex="100" layout-align="space-around" ng-show="ticket.remove_reason=='other'">
                <md-input-container class="md-block" flex="80">
                 <label>{{strings.why_remove_ticket_message}}</label>
                 <textarea flex="100" ng-model="ticket.remove_message" md-maxlength="150" rows="2" md-select-on-focus></textarea>
               </md-input-container>
            </div>
            <div id="delete_area" layout="row" flex="100" layout-align="center center">
                <md-button ng-disabled="!ticket.remove_reason" flex="80" ng-click="removeTicket()" class="md-raised md-accent">{{strings.why_remove_ticket_delete}}</md-button>
            </div>
        </div>
</md-dialog>
