<md-dialog id="payment-dialog" aria-label="Payment">
  <div id="payment_input">
	<div id="table-dialog-header">
		<div id="table-table-header" class="md-toolbar-tools" layout-align="center center">
	      	<center><span id="table-header-label" class="md-normal">{{settings_title_label}}</span></center>
	      	<span flex></span>
	    	<md-button class="md-icon-button" ng-click="optionDialogExit(event)">
	        	<md-icon md-svg-src="images/app_icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
	   		</md-button>
   		</div>
	</div>
	<div id="add-table-body" class="col-md-12 col-sm-12" layout="column">
		<div ng-show="option == 'language'">
            <div layout = "column" layout-align="center center">
                <md-radio-group ng-model="selectedLanguage">
                    <md-radio-button ng-value="alb" aria-label="alb" ng-click="changeLanguage('alb')">
                        <img src = "images/albanian.png"  width="200px" height="100px"/>
                    </md-radio-button>
                    <md-radio-button ng-value="eng" aria-label="eng" ng-click="changeLanguage('eng')">
                        <img src = "images/english.png" width="200px" height="100px"/>
                    </md-radio-button>
                </md-radio-group>
            </div>
        </div>
        <div ng-show="option == 'app_info'">
            <center>ITS APP INFO</center>
        </div>
        <div ng-show="option == 'developer_info'">
            <center>ITS DEVELOPER INFO</center>
        </div>
	</div>
  </div>
</md-dialog>
