<div ng-if="!category_is_selected" id="no_category_selected">
 <center><span id="no_category_selected" class="md-display-3">{{LOCAL_TEXTS.no_category_selected_msg}}</span></center>
</div>
<div id="sub_category_tabs" ng-if="category_is_selected">
    <md-tabs id="md_tabs_subcategory" md-selected="selectedIndex" md-border-bottom md-autoselect>
      <md-tab ng-repeat="sub_category in SUB_CATEGORIES" label="{{sub_category}}">
        <div style="padding: 2px; text-align: left;" >
          <md-button ng-repeat="item in ITEMS" ng-if="item.sub_category == sub_category"
           class="md-primary md-raised" ng-click="addItemToTicket(item.id,item.name,item.price)">
               {{item.name}} {{item.sell_price |currency}}
          </md-button>
        </div>
      </md-tab>
    </md-tabs>
</div>
