body
{
	background-color:#E0E0E0;
}
#header-background
{
	width:100%;
	height:135px;
	background-color:#009688;
}
#div_worker_name
{
	margin-top:9px;
}
#application
{
	background-color:#E2DBD5;
	height:94%;
	max-width:90%;
	min-width:900px;
	margin-top:-100px;

}
#login_to_application
{
	background-color:#E2DBD5;
	margin-top:-100px;
}
.title
{
	color: black;
	opacity: 0.76;
}
#app-toolbar
{
	background-color:#EEEEEE;
	border-bottom:1px solid #E0E0E0;
}
#app_toolbar
{
	width:100%;
}
#app-layout
{
	background-color:#E2DBD5;
	width:100%;
	height:100%;
}
#left-panel
{
	height:89%;
	background-color:#E2DBD5;
}
#right-panel
{
	background-color:#E2DBD5;
	height:90%;
}
#selected_table_label
{
	opacity:0.67;
    margin-top:-100px;
}
.label
{
	color:#000000;
	opacity:0.87;
}
.sub-label
{
	color:#000000;
	opacity:0.57;
}
#today_date
{
	font-size:0.7em;
	margin-top:-5px;
}

#logout_icon
{
	opacity:0.46;
	color:black;
	margin-top:-10px;
}

#logout_icon
{
	padding-top: -10px;
}

#worker_name
{
	margin-top:5px;
}
#left_panel
{
	height:90%;
}
#right_panel
{
	height:90%;
}
#tables_frame
{
	min-height:80px;
	background-color:white;
}
#ticket_frame
{
	height:100%;
}
#ticket_header_frame
{
	height:80px;
	background-color:white;
}
#ticket-sidenav
{
	height:100%;
	background-color:#FAFAFA;
	padding:0px;
}
#worker_tables
{
	margin-left:-20px;
	width:102%;
	height:80px;
	background-color:#FAFAFA;
}

#btn_add_table
{
	position: fixed;
    top: 140;
    right: 33%;
}
#btn_categories
{
	float:left;
	margin-top:140px;
	margin-left:-100px;
}
.btn_category
{
	width:150px;
}
#icon_category
{
	padding-top:45px;
}
#tabs_subcategories
{

}
#ticket_header
{
	background-color:#607D8B;
}
#ticket_item
{
	height:50px;
}
.item_info
{
	float:left;
}
.ticket_fields
{
	opacity:0.57;
	font-size:0.7em;
	width:200px;
}
#selected_table
{
	margin-left:-70px;
}
#ticket_switch
{
	float:right;

}
#div-item-name
{
	margin-left:-30px;
}
#btn_remove
{
	margin-top:0px;
	width:10px;
	height:30px;
	right:40px;
}
#ticket-list
{
	max-height:380px;
	overflow: auto;
}
#ticket_label
{
	opacity:0.67;

}
#div-total
{
	position:fixed;
    bottom:100;
    right:90;

}
#sub_categories
{
	background-color:#E2DBD5;
	margin-top:20px;
	margin-right:20px;
	max-height:550px;

}
#sub_category_tabs
{
	background-color:#E2DBD5;
}
#md_tabs_subcategory
{
    margin-left: 30px;
    width: 100%;
}
#no_category_selected
{
	opacity:0.57;
	margin-top:160px;
}
.selected_category_class
{
	background-color:red;
}

#label_no_tables
{
	opacity:0.37;
	margin-top:10px;
}
#table-header-label
{
	opacity:0.37;

}
#table-dialog-header
{
	width:100%;
	height:50px;
	background-color:#EEEEEE;
	border-bottom:2px solid #E0E0E0;
}
#add-table-body {

}
#add-table-dialog
{
	width:500px;
	min-height:200px;
}
#btn-table
{
	width:110%;
}
.keypad_button
{
	font-size:1.3em;
	opacity:0.57;
}
#div_message
{
	height:30px;
}
#login_password
{
	margin-left:40px;
	margin-right:40px;
    margin-bottom:20px;
}
#input_password
{
	margin-top:10px;
    font-size: 1.3em;
    opacity:0.67;
}
#cashier_input
{
	margin-top:10px;
}
#show_keyboard_btn
{
	margin-top:10px;
}
#amount_div
{
	margin-top:15px;
}
#return_amount
{
	opacity:0.57;
}
#payment-dialog
{
	min-width:500px;
	min-height:200px;
}
#remove_ticket_dialog
{
	min-width: 500px;
	height: 400px;
}
#business_login
{
	background-color:white;
	width:400px;
	margin-top:-40px;
}
.login_label
{
	color:#000000;
	opacity:0.57;
}
#login_toolbar
{
	background-color:#EEEEEE;
	border-bottom:1px solid #E0E0E0;
}
#login_body
{
	background-color:white;
}
#login_inputs
{
	margin-top:20px;
}
.business_password_input
{
	margin-left:35px;
	margin-right:35px;
}
#btn_business_login
{
	float:right;
	margin-right:25px;
	margin-bottom:20px;
}
#username
{
	margin-left:20px;
}
.login_icons
{
	opacity:0.57;
}
#list_ticket
{
	margin-top:-6px;
}
#ticket_item_amount
{
	opacity:0.67;
}
#ticket_item_name
{
	opacity:0.87;
}
#ticket_item_sum
{
	opacity:0.87;
}
.item_info
{
	margin-top:5px;
}
#item_checkbox
{
	margin-left:10px;
}
#label_total
{
	padding-left:17px;
	opacity:0.76;
}
#total_price
{
	opacity:0.76;
}

#ticket_footer
{
	position:absolute;
	bottom:20px;
	width:30%;
	height:80px;
}
#div_total
{
	margin-left:50px;
}
.md-sidenav-right
{
	max-height:85%;
	margin-top:90px;
	min-width:330px;
	max-width:330px;

}
#worker_sidenav_toolbar
{
	background-image: url("../images/backgrounds/waiter_profile_background_1.png");
	height:120px;
}
body::-webkit-scrollbar {
    display: none;
}
.circular {
	width: 70px;
	height: 70px;
	border-radius: 35px;
	border:2px solid white;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
}
#account_image
{
	margin-top:10px;
	margin-left:10px;
}
#worker_name_sidenav
{
	color:white;
	margin-left:10px;
}
#worker_name
{
	margin-top:-10px;
}
.worker_sidenav_icon
{
	margin-left:0px;
}
.worker_sidenav_subheader
{
	padding-left:-100px;
}
.pin_input
{
	margin-top:15px;
}
#print_action
{
    position: fixed;
    bottom: 100px;
    right: 71px;
    z-index: 10;
}
#ticket_item
{
    background-color:white;
}
#ticket_action
{
    margin-left:30px;
}
#ticket_total
{
    position:absolute;
    bottom: 30px;
    right:  80px;
    width:inherit;
    opacity: 0.67;
    border-top: 2px solid gray;
}
#admin_login_frame
{
    background-color: white;
    margin-top: 50px;
    height: 400px;
    width: 350px;
}
.admin_input
{
    margin-left : 30px;
    margin-right : 30px;
}
#login_form_body
{
    margin-top : 60px;
}
#admin_login_btn
{
    float : right;
    margin-right : 30px;
    wdith : 200px;
}
.tabs_color
{
    background-color:#E0E0E0;
    height: 650px;

}

table, th , td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}

#btn-adminlog{
	margin-bottom: 10px;
}
.ticket_parts
{
	border: 1px solid black;
}
.customer_nr_navigation
{
	width: 2em;
	height: 2em;
}
