<div id="admin_wrapper">
    <div id="no_admin_session" ng-show="!has_admin_session">
         <!-- ADMIN LOGIN  -->
        <center>
             <md-whiteframe id="admin_login_frame" class="md-whiteframe-z2" layout="column" >
                 <div>
                 <md-toolbar>
                    <div class="md-toolbar-tools"  layout-align="center center">
                      <span>{{LOCAL_TEXTS.admin_login_text}}</span>
                    </div>
                  </md-toolbar>
                 </div>
                 <div id="login_form_body" class="column">
                    <div id="login_form_body_input">
                        <md-input-container md-no-float class="md-block admin_input">
                          <input ng-model="admin_username" type="text" placeholder="Username">
                        </md-input-container>
                         <md-input-container md-no-float class="md-block admin_input">
                          <input ng-model="admin_password" type="password" placeholder="Password">
                        </md-input-container>
                     </div>
                     <div id="login_form_body_button"  layout-align="end center">
                        <md-button id="admin_login_btn" class="md-raised md-primary" ng-click="logAdminIn()">
                            {{LOCAL_TEXTS.login_button_label}}
                        </md-button>
                     </div>
                 </div>
            </md-whiteframe>
        </center>
    </div>
    <div id="admin_has_session" ng-show="has_admin_session">
        <div id="admin_loged_in_wrapper" layout="column">
            <div>
            <md-toolbar>
              <div class="md-toolbar-tools">
                <span>{{business_logged_in}}</span>
                <span flex></span>
                <md-button md-no-ink class="md-primary" ng-click="logAdminOut()">{{LOCAL_TEXTS.logout_label}}</md-button>
              </div>
            </md-toolbar>
            </div>            
            <div ng-cloak>
              <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                <!--  <md-tab label="{{LOCAL_TEXTS.statistics_label}}">
                    <md-content class="md-padding tabs_color">
                        <admin-statistics></admin-statistics>
                    </md-content>
                  </md-tab>
                -->
                  <md-tab label="{{LOCAL_TEXTS.workers_label}}">
                    <md-content class="md-padding tabs_color">
                        <admin-workers></admin-workers>
                    </md-content>
                  </md-tab>
                  <md-tab label="{{LOCAL_TEXTS.items_label}}">
                    <md-content class="md-padding tabs_color">
                        <admin-items></admin-items>
                    </md-content>
                  </md-tab>
                </md-tabs>
              </md-content>
            </div>
        </div>
    </div>
</div>