<!DOCTYPE html>
<html>
<head>
	<title>Live Apps</title>
</head>
<body ng-controller="appController as app">
    <div id="header-background"></div>
    <center>
    <div ng-show="BUSINESS_IS_LOGGED_IN">
    <md-whiteframe id="application" class="md-whiteframe-z3 no-animate" layout="column">
        <div id="app_header">
   			<md-toolbar id="app-toolbar" layout="row" layout-align="space-around center">
			    <span layout="column">
		       		<span id="company_name" class="md-subhead label">{{COMPANY_NAME}}</span>
		      		<span id="today_date" class="md-subhead sub-label">{{DATE | date:'yyyy-MM-dd'}}</span>
		      	</span>
		      	<span flex></span>
		      	<span layout="row" layout-align = "space-between center">
		      		<div id="worker_name"><span class="md-subhead label">{{currentWaiter.name}}</span></div>
		      		<md-button class="md-icon-button" aria-label="Logout" ng-click="logOut()">
        				<md-icon id="logout_icon" md-svg-icon="images/app_icons/ic_exit_to_app_24px.svg"></md-icon>
     				</md-button>
					<md-menu id="" md-position-mode="target-right target" >
			        	<md-button aria-label="Settings" class="md-icon-button" ng-click="$mdOpenMenu($event)">
			            	<md-icon id="logout_icon" md-svg-icon="images/app_icons/ic_settings_48px.svg"></md-icon>
			          	</md-button>
			          	<md-menu-content width="4" >
			            	<md-menu-item>
								<md-button ng-click="settings('language')">
			                  		<div layout="row" flex>
			                    		<p flex>{{LOCAL_TEXTS.settings_language}}</p>
			                    		<md-icon id="language_icon" md-svg-icon="images/app_icons/ic_language_48px.svg"></md-icon>
			                  		</div>
			              		</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button ng-click="settings('app_info')">
			                  		<div layout="row" flex>
			                    		<p flex>{{LOCAL_TEXTS.app_info}}</p>
			                    		<md-icon id="language_icon" md-svg-icon="images/app_icons/ic_info_outline_48px.svg"></md-icon>
			                  		</div>
			              		</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button ng-click="settings('developer_info')">
			                  		<div layout="row" flex>
			                    		<p flex>{{LOCAL_TEXTS.developer_info}}</p>
			                    		<md-icon id="language_icon" md-svg-icon="images/app_icons/ic_accessible_48px.svg"></md-icon>
			                  		</div>
			              		</md-button>
			            	</md-menu-item>
			          	</md-menu-content>
			        </md-menu>
     				<md-button class="md-icon-button" aria-label="Worker Options" ng-click="openWorkerSideNav()">
        				<md-icon id="logout_icon" md-svg-icon="images/app_icons/ic_list_48px.svg"></md-icon>
     				</md-button>
		      	</span>
			</md-toolbar>
   		</div>
        <div id="app_body" layout="row">
            <div id="left_panel" flex="70" layout="column">
  				<md-whiteframe id="tables_frame" class="col-md-12 col-sm-12 md-whiteframe-z2" layout="row" layout-align="center center">
  					<div id="no_table_message" ng-show="!has_tables" >
						<center><span id="label_no_tables" class="md-headline">{{LOCAL_TEXTS.no_tables_msg}}</span></center>
					</div>
					<div id="waiter_tables" layout="row" ng-show="has_tables" layout-wrap>
						<div ng-repeat="table in TABLES">
							<md-button  ng-if="table.waiter == currentWaiter.name" class="md-raised"
                       			ng-click="selectTable(table.nr)" >{{table.nr}}</md-button>
						</div>
					</div>
  				</md-whiteframe>
  				<div id="categories" layout="row" class="col-md-12 col-sm-12">
  					<md-button class="md-raised btn_category" ng-class="{'selected_category_class':category==='food'}"
                    	ng-click="selectCategory('food')">
				        <md-icon md-svg-src="images/app_icons/ic_list_48px.svg"></md-icon>
				        <span class="md-inline-list-icon-label">{{LOCAL_TEXTS.food_label}}</span>
				    </md-button>
				    <md-button class="md-raised btn_category" ng-click="selectCategory('drinks')">
				        <md-icon md-svg-src="images/app_icons/ic_list_48px.svg"></md-icon>
				        <span class="md-inline-list-icon-label">{{LOCAL_TEXTS.drinks_label}}</span>
				    </md-button>
				    <md-button class="md-raised btn_category" ng-click="selectCategory('snacks')">
				        <md-icon md-svg-src="images/app_icons/ic_list_48px.svg"></md-icon>
				        <span class="md-inline-list-icon-label">{{LOCAL_TEXTS.snacks_label}}</span>
				    </md-button>
				    <md-button class="md-raised btn_category" ng-click="selectCategory('other')">
				        <md-icon md-svg-src="images/app_icons/ic_list_48px.svg"></md-icon>
				        <span class="md-inline-list-icon-label">{{LOCAL_TEXTS.other_label}}</span>
				    </md-button>

					<!-- ADD TABLE BUTTON-->
				    <md-button id="btn_add_table" class="md-fab md-primary md-hue-1"
            aria-label="Add Table" ng-click="addTable($event)">
			          <ng-md-icon icon="add" style="fill:white" size="32"></ng-md-icon>
			        </md-button>
  				</div>
  				<!-- HERE ARE THE SUB CATEGORIES -->
				 <div id="sub_categories">
				 	<sub-categories></sub-categories>
				 </div>
   			</div>
            <div id="right_panel" flex="30">
                <div ng-show="side_menu_is_selected"><side-menu></side-menu></div>
            <md-whiteframe id="ticket_frame" class="md-whiteframe-z2" layout="column" flex="100">
				<div id="ticket_header_frame" flex ="15" layout="column" layout-align="space-around">
					<div id="ticket_label"><center><span class="md-subhead label">{{LOCAL_TEXTS.ticket}}</span></center></div>
					<div layout="row" flex="100">
						<div class="" flex="50" layout="column" layout-align="space-around">
							<div flex="35">
								<span id="">{{LOCAL_TEXTS.selected_table_label}} {{selected_table}}</span>
							</div>
						</div>
						<div class="" flex="50" >
							<div  layout-align="end">
								<md-switch layout-align="end" ng-model="editable" aria-label="Editable"></md-switch>
							</div>
						</div>
					</div>
				</div>
				<div id="ticket_body" flex="65">
					<md-list id="list_ticket" class="column">
						<div id="ticket-list" ng-repeat="table in TABLES" ng-if="table.nr == selected_table" flex="100">
					        <div ng-repeat ="current in table.ticket">
								<md-list-item id="ticket_item" ng-click="showSingleItemView($event)">
									<div layout="row" flex="100">
										<div flex="25">
					                        <span id="ticket_item_amount" class="md-headline">{{current.amount}}</span>
					                    </div>
					                    <div flex="40" class="item_info">
					                        <span id="ticket_item_name" class="md-subhead">{{current.name}}</span>
					                    </div>
					                    <div flex="30" class="item_info">
					                        <span id="ticket_item_sum" class="md-subhead">{{current.price*current.amount |currency}}</span>
					                    </div>
					                    <div flex="10">
					                        <md-checkbox id="item_checkbox" ng-click="togglecheckItem(current.id)" ng-model="current.checked" ng-if="editable" aria-label="checkbox"></md-checkbox>
					                        <md-button id="btn_remove" ng-click="removeItem(current.id,current.name,current.price)"
					                            class="md-warn text-left" ng-if="!editable">
					                            <md-icon md-svg-src="images/app_icons/ic_remove_24px.svg"></md-icon>
					                        </md-button>
					                    </div>
									</div>
								</md-list-item>
							</div>
						</div>
					</md-list>
				</div>
				<div id="ticket_bottom" class="md-whiteframe-z2" layout="column">
					<div id="ticket_price" flex="10" layout="column" layout-align="center">
						<div ng-repeat="table in TABLES" ng-if="table.nr == selected_table" flex="100" layout-align="row">
							<div><span id="total_price" layout-align="center" class="md-display-1">{{table.total |currency}}</span></div>
						</div>
					</div>
					<div id="ticket_print" flex="10" layout="row">
						<div id="btn_close_table" flex="33">
							<md-button class="md-icon-button" aria-label="Worker Options" ng-click="removeTicket()">
		        				<ng-md-icon icon="delete" style="fill:teal" size="32"></ng-md-icon>
		     				</md-button>
						</div>
						<div id="btn_print_table" flex="33">
							<md-button class="md-icon-button" aria-label="Worker Options" ng-click="printTicket()">
								<ng-md-icon icon="print" style="fill:teal" size="32"></ng-md-icon>
							</md-button>
						</div>
						<div id="btn_print_and_close_table" flex="34">
							<md-button class="md-icon-button" aria-label="Worker Options" ng-click="payTicket()">
								<ng-md-icon icon="credit_card" style="fill:teal" size="32"></ng-md-icon>
							</md-button>
						</div>
					</div>
				</div>
             </md-whiteframe>
            </div>
        </div>
    </md-whiteframe>
	</div></center>
	<!-- LOGIN FORM FOR THE BUSINESSS -->
	<div ng-show="!BUSINESS_IS_LOGGED_IN">
		<md-whiteframe id="login_to_application" class="md-whiteframe-z3 no-animate" layout="column" flex="50" flex-offset="25">
			<md-toolbar id="app-toolbar" layout="row" layout-align="space-around center">
					<span id="company_name" class="md-headline label">{{LOCAL_TEXTS.login_label}}</span>
			</md-toolbar>
			<div id="login_input_container" layout="column" flex="40">
				<div id="login_input_body" layout="column">
					<div class="input_container">
						<md-input-container flex="60" flex-offset="20">
						  <label>USERNAME</label>
						  <input type="text" ng-model="business.username" required>
						</md-input-container>
					</div>
					<div class="input_container">
						<md-input-container flex="60" flex-offset="20">
						  <label>PASSWORD</label>
						  <input type="password" ng-model="business.password" required>
						</md-input-container>
					</div>
					<div class="input_container" flex="100" flex-offset="40">
						<md-button  ng-disabled="!business.username || !business.password"class="md-raised md-primary" ng-click="logBusinessIn(business)">{{LOCAL_TEXTS.login_label}}</md-button>
					</div>
					<div class="login_feedback" flex="100" ng-show="loginFail">
						<center><span class="md-body-1">{{LOCAL_TEXTS.username_password_wrong}}</span></center>
					</div>
				</div>
		</md-whiteframe>
	</div>
</body>
