<!DOCTYPE html>
<html>
<head>
	<title>Live App</title>
</head>
<body ng-controller="appController as app">
    <div id="header-background"></div>
    <center>
    <md-whiteframe id="application" class="md-whiteframe-z3 no-animate" layout="column">
        <div id="app_header">
   			<md-toolbar id="app-toolbar" layout="row" layout-align="space-around center">
			    <span layout="column">
		       		<span id="company_name" class="md-subhead label">{{COMPANY_NAME}}</span>
		      		<span id="today_date" class="md-subhead sub-label">{{DATE | date:'yyyy-MM-dd'}}</span>	     
		      	</span>
		      	<span flex></span>  
		      	<span layout="row">
		      		<span id="worker_name" class="md-subhead label">{{current_waiter}}</span>
		      		<md-button class="md-icon-button" aria-label="Logout" ng-click="logOut()">
        				<md-icon id="logout_icon" md-svg-icon="images/app_icons/ic_exit_to_app_24px.svg"></md-icon>
     				</md-button>
     				<md-button class="md-icon-button" aria-label="Worker Options" ng-click="openWorkerSideNav()">
        				<md-icon id="logout_icon" md-svg-icon="images/app_icons/ic_list_48px.svg"></md-icon>
     				</md-button>
		      	</span>
			</md-toolbar>
   		</div>
        <div id="app_body" layout="row">
            <div id="left_panel" flex="70" layout="column">
  				<md-whiteframe id="tables_frame" class="col-md-12 col-sm-12 md-whiteframe-z2" layout="row" layout-align="center center">
  					<div id="no_table_message" ng-show="!has_tables" >
						<center><span id="label_no_tables" class="md-headline">{{LOCAL_TEXTS.no_tables_msg}}</span></center>
					</div>
					<div id="waiter_tables" layout="row" ng-show="has_tables">
						<div ng-repeat="table in TABLES">
							<md-button  ng-if="table.waiter == current_waiter" class="md-raised" 
                                       ng-click="selectTable(table.nr)" >{{table.nr}}</md-button>
						</div>  
					</div>
  				</md-whiteframe>
  				<div id="categories" layout="row" class="col-md-12 col-sm-12">
  					<md-button class="md-raised btn_category" ng-class="{'selected_category_class':category==='food'}" 
                                        ng-click="selectCategory('food')">
				        <md-icon md-svg-src="images/app_icons/ic_list_48px.svg"></md-icon>
				        <span class="md-inline-list-icon-label">{{LOCAL_TEXTS.food_label}}</span>
				    </md-button>
				    <md-button class="md-raised btn_category" ng-click="selectCategory('drink')">
				        <md-icon md-svg-src="images/app_icons/ic_list_48px.svg"></md-icon>
				        <span class="md-inline-list-icon-label">{{LOCAL_TEXTS.drinks_label}}</span>
				    </md-button>
				    <md-button class="md-raised btn_category" ng-click="selectCategory('snacks')">
				        <md-icon md-svg-src="images/app_icons/ic_list_48px.svg"></md-icon>
				        <span class="md-inline-list-icon-label">{{LOCAL_TEXTS.snacks_label}}</span>
				    </md-button>
				    <md-button class="md-raised btn_category" ng-click="selectCategory('other')">
				        <md-icon md-svg-src="images/app_icons/ic_list_48px.svg"></md-icon>
				        <span class="md-inline-list-icon-label">{{LOCAL_TEXTS.other_label}}</span>
				    </md-button>
				   
					<!-- ADD TABLE BUTTON-->
				    <md-button id="btn_add_table" class="md-fab md-primary md-hue-1" aria-label="Add Table" ng-click="addTable($event)">
			          <ng-md-icon icon="add" style="fill:white" size="32"></ng-md-icon> 
			        </md-button>
  				</div>
  				<!-- HERE ARE THE SUB CATEGORIES -->
				 <div id="sub_categories">
				 	<sub-categories></sub-categories>
				 </div>
   			</div>
            <div id="right_panel" flex="30">
                <div ng-show="side_menu_is_selected"><side-menu></side-menu></div>
            <md-whiteframe id="ticket_frame" class="md-whiteframe-z2" layout="column" >
                    <md-whiteframe id="ticket_header_frame" class="md-whiteframe-z3" layout="column">
   						<!-- TITLE PART -->
   						<center><div id="ticket_label"><span class="md-subhead label">{{LOCAL_TEXTS.ticket}}</span></div></center>
                        <span flex></span>
   						<!-- SUB TITLE PART -->
   						<div id="ticket_action" layout="row" layout-align="space-around center">
   							<div id="selected_table">
                                <span id="selected_table_label" >{{LOCAL_TEXTS.selected_table_label}} {{selected_table}}</span>
                            </div>
   							<div id="ticket_switch"><md-switch ng-model="editable" aria-label="Editable"></md-switch></div>
                            <div id="print_action">
                                <md-fab-speed-dial md-open="false" md-direction="left" ng-class="md-scale">
                                    <md-fab-trigger>
                                      <md-button aria-label="menu" class="md-fab md-warn">
                                        <ng-md-icon icon="print" style="fill:white" size="32"></ng-md-icon> 
                                      </md-button>
                                    </md-fab-trigger>
                                    <md-fab-actions>
                                      <md-button aria-label="Print" class="md-fab md-raised" ng-click="printTicket()">
                                        <ng-md-icon icon="receipt" style="fill:gray" size="22"></ng-md-icon>
                                        <md-tooltip md-direction="top" md-visible="tooltipVisible" md-autohide="false">
                                          {{LOCAL_TEXTS.print}}
                                        </md-tooltip>
                                      </md-button>
                                      <md-button aria-label="Close" class="md-fab md-raised" ng-click="payTicket()">
                                        <ng-md-icon icon="credit_card" style="fill:gray" size="22"></ng-md-icon> 
                                        <md-tooltip md-direction="top" md-visible="tooltipVisible" md-autohide="false">
                                          {{LOCAL_TEXTS.pay}}
                                        </md-tooltip>
                                      </md-button>
                                    </md-fab-actions>
                                </md-fab-speed-dial>
                            </div>
   						</div>
   					</md-whiteframe>              
                <div id="ticket" layout="column">
                    <md-list id="list_ticket" class="column">
                        <div id="ticket-list" ng-repeat="table in TABLES" ng-if="table.nr == selected_table">
                            <div ng-repeat ="current in table.ticket">
                                <md-list-item id="ticket_item" ng-click="showSingleItemView($event)">
                                    <div layout="row" flex="100">
                                        <div flex="25">
                                            <span id="ticket_item_amount" class="md-headline">{{current.amount}}</span>
                                        </div>
                                        <div flex="40" class="item_info">
                                            <span id="ticket_item_name" class="md-subhead">{{current.name}}</span>
                                        </div>
                                        <div flex="30" class="item_info">
                                            <span id="ticket_item_sum" class="md-subhead">{{current.price*current.amount |currency}}</span>
                                        </div>
                                        <div flex="10">
                                            <md-checkbox id="item_checkbox" ng-model="current.checked" ng-if="editable"></md-checkbox>
                                            <md-button id="btn_remove" ng-click="removeItem(current.name,current.price)" 
                                                                                        class="md-warn text-left" ng-if="!editable">
                                                <md-icon md-svg-src="images/app_icons/ic_remove_24px.svg"></md-icon>
                                            </md-button>
                                        </div>
                                    </div>
                                </md-list-item>								
                            </div>
                            <md-divider ></md-divider>
                        </div>
                    </md-list>
                    <div id="ticket_total" ng-repeat="table in TABLES" ng-if="table.nr == selected_table">
                        <span id="total_price" class="md-display-1">TOTAL:&nbsp&nbsp{{table.total |currency}}</span>
                    </div>
				</div>
             </md-whiteframe>
            </div>
        </div>
    </md-whiteframe>
    </center>
</body>